{% extends "base.html" %}
{% load static %}
{% block title %}комментарии{%endblock title %}
{% block header %}
    <meta charset="utf-8" />
        <link rel="stylesheet" href="{% static "css/comments.css" %}" />
{% endblock header %}
{% block content %}
    {% if user.is_authenticated %}
    <h2>Добавить запись</h2>
     <form method="POST" action="create-comment/">
        {% csrf_token %}
        <p>
            <label>Напишите комментарий</label><br>
            <input type="text" name="text" />
        </p>
        <input type="submit" value="Сохранить" >
    </form>
    {% elif user.is_anonymous %}
    <h2>Кто ты, воин?</h2>
        <form class="button" action="{% url 'login' %}" method="post">
            {% csrf_token %}
            <button type="submit">Login</button>
        </form>
    {% endif %}
    {% if comments.count > 0 %}
    <h2>Комментарии</h2>
        <table width = "95%">
            <thead>
                <th>user</th>
                <th>comment</th>
            </thead>
            {% for post in comments %}
            <tr>
                <td class="user-cell" width = "100" height = "80">
                    <p>{{ post.username }}</p>
                    <p><small><small>{{ post.date|date:"d.m.Y" }}</small></small></p>
                </td>
                <td>{{ post.text }}</td>
            </tr>
            {% endfor %}
        </table>
    {% endif %}
{% endblock content %} 