table{
    border-collapse: collapse;
    border: 1px solid #666666;
    border-style: hidden;
    border-radius: 5px;
    box-shadow: 0 0 0 1px #666;
}
th, td {
    padding: 2px 15px 2px 15px;
    border-bottom: 1px solid #666666;
}
/* tr:nth-child(even) {
    background-color: #666666;
    border: 1px solid #666666;;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
} */